.item__slider{
    background-color: #03D0B6;
    padding: 30px;

    .slick__container{
        width: 100%;
        align-items: start;
        justify-content: space-between;
    }
    h3{
        color: #000;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 20px;
    }
    .book__container{
        display: flex;
        align-items: start;
        justify-content: center;
        img{
            width: 130px;
            @media screen and (max-width: '699px') {
                width: 100px;
            }
        }
    }
}

.right__arrow{
    right: -36px;
}

.left__arrow{
    left: -36px;
}
.arrow{
    position: absolute;
    top: 36%;
    z-index: 99;
    font-size: 48px;
    color: #19652E;
    cursor: pointer;
    @media screen and (max-width: '699px') {
        top: 28%;
    }
}
