    .checkout__container {
        display: flex;
        align-self: center;
        justify-content: space-between;

        .checkout__info {
            padding: 50px 60px 20px 120px;
            width: 60%;
            background-color: #FFF;
            display: flex;
            flex-direction: column;
            min-height: 100vh;

            .link{
                color: #000;
            }
            .checkout__links{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 50%;
                gap: 20px;
            }
            hr{
                margin-top: 40px;
            }
            .outlet{
                flex: 1;
            }
            .footer__copyright {
                margin-top: auto;
                padding: 0px;
                p{
                    color: #75757a;
                    padding-top: 10px;
                }
            }
        }

        .checkout__order {
            padding: 50px 30px 20px;
            width: 40%;
            background-color: #F5F5F5;
            h6 {
                font-size: 13px;
                font-weight: 300;
                padding-bottom: 20px;
              }
            .order__container{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .product__details{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .product__img{
                        position: relative;
                        width: 60px;
            
                        img{
                            width: 100%;
                        }
                        p{
                            font-size: 12px;
                            color: #fff;
                            position: absolute;
                            top: -15px;
                            right: -15px;
                            background-color: #EF8B33;
                            border-radius: 15px;
                            font-size: 12px;
                            font-weight: 500;
                            padding: 8px;
                            width: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    span{
                        font-size: 12px;
                        padding: 0 5px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    h6{
                        font-size: 13px;
                        font-weight: 400;
                    }
                }
                .order__code{
                   display: flex;
                   align-items: center;
                   justify-content: space-between;
                    input{
                        width: 76%;
                        border: 1px solid #d5d5d5;
                        padding: 5px;
                        outline: none;
                        
                        &::placeholder{
                            font-size: 12px;
                        }
                    }
                    button{
                        width: 80px;
                        border: none;
                        border-radius: 5px;
                        background: #06D0B8;
                        color: #fff;
                        font-size: 12px;
                        padding: 8px;
            
                    }
                }
                .order__details{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    gap: 20px;
                    .order__cost{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p{
                            font-size: 13px;
                            font-weight: 400;
                        }
                        span{
                            font-size: 13px;
                            font-weight: 500;
                        }
                    }
                    .order__total{
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        padding-top: 10px;
                        h3{
                            font-size: 14px;
                            font-weight: 600;
                        }
                        h6{
                            font-size: 15px;
                            font-weight: 600;
                            span{
                                padding-right: 10px;
                                font-size: 10px;
                                color: #97938e;
                            }
                        }        
                    }
                }
            } 
        }
    }
