.checkout__address {
    form{
        .input__container{
            width: 100%;
            position: relative;
            margin: 20px 0;
            label{
                font-size: 13px;
                background-color: var(--cl-white);
                color: var(--cl-gray-700);
                padding: 0 4px;
                position: absolute;
                top: -10px;
                left: 16px;
            }
            input, select{
                width: 100%;
                outline-color: var(--cl-orange-300);
                padding: 14px;
                border-radius: 4px;
                appearance: none;
                border: 1px solid var(--cl-gray-700);
                font-size: 16px;
                font-weight: 300;
                color: var(--cl-black);
            }
            .phone{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .prefix__input{
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
        }
        .group__container__name{
            display: flex;
            gap: 20px;
        }
        .group__container__phone{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            .phone{
                display: flex;
                width: 50%;
                gap: 2px;
                .input__container{
                    &:nth-child(1){
                        width: 30%;
                    }
                }
            }
        }
        .address{
            margin-top: 40px;
        }
    }
}