.page__banner{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h2{
        font-size: 32px;
        color: var(--cl-gray-200);
    }
    p{
        font-size: 16px;
        color: var(--cl-gray-200);
    }
}