.hero {
    height: 400px;
    width: 100%;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: "1499px") {
        height: 899px;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        width: 89%;
        @media screen and (max-width: "1400px") {
            width: 80%;
        }
        .hero__text {
            h2 {
                font-size: 60px;
                font-weight: 700;
                font-family: "Roboto", sans-serif;
                color: #08b99f;
                @media screen and (max-width: "1400px") {
                    color: #d65e05;
                }
                @media screen and (min-width: "1499px") {
                    font-size: 90px;
                    color: #d65e05;
                }
                @media screen and (max-width: "999px") {
                    font-size: 42px;
                }
            }
            h6 {
                font-size: 32px;
                font-weight: 400;
                font-family: "Iceberg", cursive;
                color: #010204;
                margin-top: 10px;
                @media screen and (min-width: "1499px") {
                    font-size: 46px;
                }
                @media screen and (max-width: "999px") {
                    font-size: 20px;
                    margin-top: 0;
                }
            }
        }
        button {
            width: 278px;
            height: 60px;
            font-size: 25px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            color: red;
            border: none;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            cursor: pointer;
            margin-top: 60px;

            @media screen and (min-width: "1499px") {
                font-size: 32px;
                width: 320px;
                height: 80px;
            }
            @media screen and (max-width: "999px") {
                font-size: 20px;
                width: 200px;
            }
            @media screen and (max-width: "399px") {
                margin-bottom: 40px;
                align-self: center;
            }
        }
    }
}

.next__arrow {
    position: absolute;
    top: 40%;
    right: 5px;
    z-index: 5;
    font-size: 69px;
    color: #dc6608;
    cursor: pointer;
}
.prev__arrow {
    position: absolute;
    top: 40%;
    left: 5px;
    z-index: 5;
    font-size: 69px;
    color: #dc6608;
    cursor: pointer;
}
.next__icon {
    @media screen and (max-width: "999px") {
        display: none;
    }
}
.prev__icon {
    @media screen and (max-width: "999px") {
        display: none;
    }
}
