.wish__list{
    padding: 40px 60px;

    @media screen and (max-width: '999px') {
        padding: 20px 10px;
    }
    p{
        margin: 0 10px;
        font-weight: 700;
        font-size: 14px;
        .link{
            color: #000;
        }
    }
    .wishlist__products{
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}